/*gotta import the fonts from the Google API first right?*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*structure*/
inner-column {
  display:  block;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  line-height: 2; /* WHY ? */
  letter-spacing: 0.03em; /* WHY ? */
  padding: 10px; 
}


/*typography*/
h1, h2, h3, h4 {
  /*global line height?*/
  /*line-height: 1.5;*/
}

.site-header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(2.5em, 5vw, 5em);
  line-height: 1;
}

/*just for fun*/
.site-header h1:first-letter {
  color:  gray;
  font-size: 1.5em;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  vertical-align: super;
} 

.site-header h1 span:first-of-type {
  vertical-align: sub;
  font-family: monospace;
}

.site-header h1 + p {
  margin-top:  50px;
}


/* maybe some footer? */

.inner-column {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  /* why? */
}

footer {
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
}

