#dmccall-theme {
	display: block;
	padding: 30px;
	background-color: hsla(0, 37%, 92%, 1);
	border-radius: 15px;
}

#dmccall-theme .site-title {
	font-family: Helvetica, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 50px; 
    color: hsla(0, 37%, 92%, 0);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: hsla(0, 90%, 15%, 1);
}

#dmccall-theme .teaser {
	font-family: Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 500;
	color: hsla(0, 90%, 15%, 1);
}

#dmccall-theme .link {
	display: inline-block;
	font-family: Helvetica, sans-serif;
	font-weight: 700;
	font-size: 30px;
	padding-top: 10px;
	color: hsl(0, 100%, 60%, 1);
}

