@import 'meyers-reset.css';
@import 'reset.css';
@import 'tommy.css';
@import 'dmccall-theme.css';

/*Import CSS Partials above*/



/*Site Structure*/
body {
   padding: 20px;
}

.inner-column {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding-top: 20px; 
  flex-grow: 1;
  /* this keeps the footer at the bottom */
}

student-card {
   border: 3px solid black; 
   display:  block;
   line-height:  1; /* ? */
}

student-card .flourish {
   display: none;
}

ol {
   list-style:  none;
   margin:  0;
   padding: 0;
}

.student-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
} 

footer {
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
}


/*Typography*/
h1 {
   font-family: helvetica;
   font-weight: 700;
   font-size:  60px;
   margin-bottom: 40px;
}

h2 {
   font-family: helvetica;
   font-weight: 400;
   font-size:  20px;
}

p {
   font-family: helvetica;
   font-weight: 400;
   font-size:  16px;
}